<MarketplaceDetails>
  <SmallAppTile>LargePC.png</SmallAppTile>
  <ScreenShots>Screenshot.v3.full.png;Screenshot.v3.red.png;Screenshot.v3.settings.png;;;;;;</ScreenShots>
  <ScreenShotsWXGA>Screenshot.v3.full.wxga.png;Screenshot.v3.settings.wxga.png;Screenshot.v3.red.wxga.png;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>Screenshot.v3.full.720p.png;Screenshot.v3.settings.720p.png;Screenshot.v3.red.720p.png;;;;;;</ScreenShots720P>
</MarketplaceDetails>